.full-blog-post {
  max-width: 800px;
  margin:  0 auto;
  padding: 40px 10px;

  .full-blog-post-header {
    h1 {
      font-family: $serif_heading;
      color: $primary_red;
      text-align: center;
      text-transform: uppercase;
    }

    .post-date {
      color: $primary_blue;
      font-family: $serif_heading;
      font-weight: 700;
      text-align: center;
    }
  }

  .full-blog-post-body {
    padding: 50px 0;
    font-family: 'Bitter', serif;
    line-height: 1.6;
    color: $text_grey;
    font-size: 1.3em;
    max-width: 700px;
    margin: 0 auto;
  }

  .full-blog-post-footer {

    .social-sharing {
      text-align: center;
      margin-bottom: 60px;

      .social-share-link {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 10px;

        img {
          width: 100%;
        }

        &:hover {
          opacity: .7;
        }
      }
    }
  }
}