.breadcrumbs {
  padding: 15px;
  .breadcrumb {
    text-transform: uppercase;
    color: $text_grey;
    font-family: $serif_heading;
    padding: 0;
    font-weight: 700;

    &:hover {
      color: $primary_red;
    }

    &:not(:last-child):after {
      content: '>';
      padding: 10px 5px 10px 10px;
    }
  }
}

.sans-breadcrumb-heading {
  padding-top: 50px;
}