.purchase-btn {
  display: block;
  margin: 10px 0;
  background: $white;
  color: $primary_red;
  border: 3px solid $primary_red;
  padding: 15px 8px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $serif_heading;

  &:hover {
    background: $primary_red;
    color: $white;
  }

  &:focus {
    outline: none;
  }

  &.narrow {
    width: 250px;
    margin: 10px auto;
    text-align: center;
  }

  &.full-width {
    width: 100%;
    text-align: center;
  }
}

.purchase-btn.blue {
  color: $primary_blue;
  border: 3px solid $primary_blue;

  &:hover {
    background: $primary_blue;
    color: $white;
  }
}