.contact-page-blurb {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.4;
  font-family: 'Bitter', serif;
  color: $text_grey;
  padding: 40px 10px;
  text-align: center;
}