.social-nav-link {
  padding: 25px 5px;
  display: inline-block;
  img {
    width: 20px;
    height: 20px;
  }
  @include respond-to(phone) {padding: 15px 5px;}
  @include respond-to(smalltablet) {padding: 15px 5px;}
}

.social-nav-link:hover img {
  animation: .5s harlem;
  animation-fill-mode: forwards;
}

@keyframes harlem {
  0% {transform: rotate(0deg);}
  12.5% {transform: rotate(10deg);}
25% {transform: rotate(20deg);}
  37.5% {transform: rotate(10deg);}
50% {transform: rotate(0deg);}
  62.5% {transform: rotate(-10deg);}
75% {transform: rotate(-20deg);}
  87.5% {transform: rotate(-10deg);}
100% {transform: rotate(0deg);}
}