.social-nav-link {
  padding: 25px 5px;
  display: inline-block;
  img {
    width: 20px;
    height: 20px;
  }
  @include respond-to(phone) {padding: 15px 5px;}
  @include respond-to(smalltablet) {padding: 15px 5px;}
}