.social-nav-link {
  padding: 25px 5px;
  display: inline-block;
  img {
    width: 20px;
    height: 20px;
  }
  @include respond-to(phone) {padding: 15px 5px;}
  @include respond-to(smalltablet) {padding: 15px 5px;}
}

.social-nav-link:hover img {
  animation: .5s harlem;
  animation-fill-mode: forwards;
}

@keyframes harlem {
  0% {transform: rotate(0deg) scale(1.25);}
  12.5% {transform: rotate(10deg) scale(1.25);}
25% {transform: rotate(20deg) scale(1.25);}
  37.5% {transform: rotate(10deg) scale(1.25);}
50% {transform: rotate(0deg) scale(1.25);}
  62.5% {transform: rotate(-10deg) scale(1.25);}
75% {transform: rotate(-20deg) scale(1.25);}
  87.5% {transform: rotate(-10deg) scale(1.25);}
100% {transform: rotate(0deg) scale(1.25) scale(1.25);}
}