.btn.rs-btn {
  display: inline-block;
  border-radius: 0;
  min-width: 8em;
  background: $primary_blue;
  color: $white;

  &.btn-wide {
    width: 100%;
  }
}

.rs-btn.btn-tiny {
  font-size: 70%;
  padding: 5px 3px;
  min-width: 0;
  text-transform: uppercase;
}

.rs-btn.btn-red {
  background: $primary_red;
  color: $white;
}

.rs-btn.btn-light {
  border: 1px solid $primary_blue;
  color: $primary_blue;
  background: $white;
}

.rs-btn.btn-clear-danger {
  border: 1px solid $danger;
  color: $danger;
  background: $white;
}

.rs-btn.btn-solid-danger {
  border: 1px solid $danger;
  color: $white;
  background: $danger;
}