.product-options-vue {

  .close-icon-btn {
    color: $danger;
    padding: 0 10px;
    font-size: 160%;
    cursor: pointer;
    vertical-align: sub;
  }

  .empty-list-state {
    color: $mid_grey;
    padding: 10px;
  }

  .product-options-heading {
    color: $primary_blue;
  }

  .product-options-list {
    max-width: 300px;
  }

  .add-option-form {
    border-top: 3px solid $primary_blue;
    padding-top: 10px;
    max-width: 330px;

    input {
      height: 34px;
      border: 1px solid $primary_blue;
      padding-left: 10px;
      margin: 0;
      width: 200px;
      display: inline-block;
      vertical-align: top;
    }

    .btn.rs-btn {
      width: 96px;
    }
  }
}

.option-values-wrapper {
  display: inline-block;
  transition: .5s;

  .option-name {
    transition: .5s;
    cursor: pointer;
  }
}

.option-values-wrapper.active {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.6);
  z-index: 100;

  .option-name {
    display: inline-block;
    width: 100%;
    color: $white;
    background: $primary_blue;
    text-align: center;
    font-size: 120%;
    padding: 10px;
    cursor: default;
  }

  .option-values-list-container {
    height: 250px;
    overflow-y: auto;
  }

  .option-values-list {

    .badge {
      background: $danger;
      cursor: pointer;
    }
  }
  
  .values-modal-footer {
    text-align: right;
  }

  .add-value-box {
    border-top: 3px solid $primary_blue;
    border-bottom: 3px solid $primary_blue;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;

    input {
      height: 34px;
      vertical-align: top;
      padding-left: 10px;
      border: 1px solid $primary_blue;
      display: inline-block;
      width: 200px;
    }
  }

  .inner-values-modal {
    background: $white;
    display: block;
    width: 400px;
    margin: 100px auto 0;
    z-index: 500;
  }
}

.standard-option-choice-button {
  display: inline-block;
  white-space: nowrap;
  margin: 5px;
  padding: 3px 6px;
  text-transform: uppercase;
  background: $secondary_orange;
  color: $white;
  cursor: pointer;
}