@import "mixins/media";
@import "variables/colours";
$navbar-inverse-bg: $primary_red;
$navbar-inverse-color: $primary_dark;
$navbar-inverse-link-active-color: $primary_blue;
$navbar-inverse-link-color: $primary_dark;
$navbar-border-radius: 0;
$font-family-sans-serif: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "admin/navbar";
@import "admin/forms";
@import "admin/buttons";
@import "admin/modals";
@import "admin/pageheader";
@import "admin/sectionheader";
@import "admin/indexcard";
@import "admin/singleuploader";
@import "admin/productsummary";
@import "admin/productoptions";
@import "admin/productcustomisations";
@import "admin/galleryuploads";
@import "admin/shippingrules";
@import "admin/tagmanager";
@import "admin/productsearch";
@import "admin/edible";
@import "admin/users";
@import "admin/blogedit";
@import "admin/blogindex";
@import "admin/footer";
@import "admin/orders";
@import "admin/orderitemcustomisations";
@import "admin/standardoptionsapp";
@import "admin/general";

a, a:hover, a:focus, a:visited {
  color: inherit;
  text-decoration: none;
}